@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  font-size: 1rem;
}

html {
  font-size: calc(60% + 0.8vmin);
}

body {
  background-color: #f6f4e8;
  max-width: auto;
  margin: 0 auto;
}
